<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<listeners>
<listener class-name="com.forescout.challenge.listeners"/>
</listeners>
	<!-- <test name="Test-Login">
		<classes>
			<class name="com.forescout.challenge.Login">
				<methods>
					<include name="accountSignIn" />
				</methods>
			</class>
		</classes>
	</test> -->
	<test name="Test-PageJump">
		<classes>
			<class name="com.forescout.challenge.PageJump">
				<methods>
					<include name="jumpToPage" />
				</methods>
			</class>
		</classes>
	</test>
	<!-- <test name="Test-AddItem">
		<classes>
			<class name="com.forescout.challenge.AddItemInTable">
				<methods>
					<include name="addNewItem" />
				</methods>
			</class>
		</classes>
	</test> -->
</suite> <!-- Suite -->
